/* UNIVERSAL SELECTOR (*) will select all elements inside */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-sizing: border-box make everything true to size */
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 15px;
  flex-direction: row-reverse;
  row-gap: 15px;
}

.child {
  border: 2px solid black;
  width: 20%;
}

.child img {
  width: 100%;
}

header {
  background-color: black;
  color: white;
  height: 100vh;
  /* vh = viewport height - it will occupy 100% of your screen */

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  text-align: center;
  border: 2px solid white;

  /* padding -> spacing inside an element */
  padding: 20px 40px;
}

@media (min-width: 576px) {
  .child {
    width: 45%;
  }
}

@media (min-width: 991px) {
  .child {
    width: 20%;
  }
}
